.container {
  width: 95%;
}
/* start header design */
header {
  width: 100%;
  height: 1000px;
  background-image: url(../images/background-header.jpg);
  background-repeat: no-repeat;
  background-size: 3250px;
  background-position: -1100px 0;
}
header .container nav {
  padding-top: 0px;
  height: 130px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
header .container nav a {
  font-weight: 400;
  width: 100%;
  font-size: 20px;
  display: grid;
  place-items: center;
}

header .container nav .logo {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
header .container nav .logo img {
  width: 150px;
  height: auto;
}
header .container .text {
  width: 100%;
  text-align: center;
  bottom: 6%;
  transform: translate(-50%, 0);
  right: auto;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
header .container .text h1 {
  font-size: 30px;
  font-weight: 500;
  color: var(--frth-color);
}
header .container .text a {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* end header design */
/* start question design */
.question {
  background-image: url(../images/phone-question-background-1.png);
  background-size: 100%;
  height: 750px;
}

.question .container {
  place-items: flex-start center;
}
.question .container .text {
  text-align: center;
  bottom: auto;
  width: 100%;
  height: 62%;
}
.question .container .text h1 {
  font-size: 40px;
  margin: 40px 0 0 0;
}
.question .container .text p {
  line-height: 2;
  font-size: 22px;
  margin: 0;
}

/* end question design */
