/* start global rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  text-transform: capitalize;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  overflow-x: hidden;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* start variables */
:root {
  --main-color: #ffda00;
  --secondary-color: #52d3d8;
  --thrd-color: #e26ee5;
  --frth-color: #1d214e;
  --main-font: "Roboto", sans-serif;
}
/* end variables */
/* end global rules */
/* start header design */
header {
  width: 100%;
  height: 700px;
  background-image: url(../images/background-header.jpg);
  background-size: cover;
  background-position: center;
}
header .container {
  position: relative;
  font-family: "Roboto", sans-serif;
}
header .container nav {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}
header .container nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
header .container nav a:hover {
  color: var(--thrd-color);
  font-size: 23px;
}
header .container nav .logo img {
  height: 120px;
}
header .container .text {
  width: 50%;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 7%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
header .container .text h1 {
  line-height: 2.5;
  color: white;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}
header .container .text a {
  display: grid;
  place-items: center;
  background-color: var(--thrd-color);
  margin-top: 40px;
  width: 200px;
  height: 50px;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}
header .container .text a:hover {
  background-color: var(--secondary-color);
  width: 210px;
  height: 52.5px;
}
/* end header design */
/* start question design */
.question {
  background-image: url(../images/question-background-1.png);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: right;
  direction: rtl;
  margin-top: 40px;
  width: 100%;
  height: 700px;
}

.question .container {
  height: 100%;
  display: grid;
  place-items: center flex-start;
}
.question .container .text {
  position: relative;
  bottom: 0;
  width: 60%;
  display: grid;
  height: 80%;
}
.question .container .text h1 {
  color: var(--main-color);
  font-size: 55px;
}
.question .container .text p {
  line-height: 2.5;
  margin-top: 10px;
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.question .container .text p span {
  color: var(--main-color);
  font-weight: 500;
}
/* end question design */
/* start products design */
.products {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.products .container {
  height: calc(100% - 100px);
  display: grid;
  gap: 30px 60px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.products > h1 {
  width: 100%;
  height: 100px;
  color: white;
  text-align: center;
  margin: 20px;
  position: relative;
  display: grid;
  place-items: center;
}
.products > h1::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../images/befor.png);
  background-size: 270px;
  background-position-x: 0px;
  background-repeat: no-repeat;
  left: 50%;
  top: 10%;
  transform: translateX(-10%);
  z-index: -1;
}
.products .container .pruduit {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}
.products .container .pruduit .image {
  grid-row-start: 1;
  align-items: center;
  display: grid;
  grid-row-end: 4;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.products .container .pruduit .image img {
  height: 410px;
  width: 100%;
}
.products .container .pruduit .link {
  display: grid;
  place-items: center;
}
.products .container .pruduit .link a {
  display: grid;
  color: white;
  place-items: center;
  background-color: var(--secondary-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  box-shadow: 5px 5px 0 white, 10px 10px 0 var(--thrd-color);
}
.products .container .pruduit .link a:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
/* end products design */
/* start gallery design */
.gallery {
  width: 100%;
  height: 800px;
  background-image: url(../images/gallery.jpg);
  background-size: 100% auto;

  margin-top: 80px;
  background-position: bottom;
}
.gallery .container {
  height: 90%;
  display: grid;
  place-items: center;
}
.gallery .container h1 {
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
/* end gallery design */
/* start contact design */
.contact {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container {
  width: 100%;
  height: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--thrd-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .infos{
  width: 40%;
  padding: 40px 20px 60px;
  height:180%;
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact .container .infos .img {
  width: 100%;
  height: 20%;
  display: grid;
  place-items: center;
}
.contact .container .infos .img img{
  width: 50%;
}
.contact .container .infos .icon {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .infos .icon i {
  font-size: 25px;
  margin-right: 20px;
  color: white;
}
.contact .container .infos .icon a {
  color: white;
  font-size: 25px;
}
.contact .container .infos .icon a:hover {
  color: var(--thrd-color);
}
.contact .container .infos .link {
  width: 100%;
  display: grid;
  place-items: center;
}
.contact .container .infos .link a {
  background-color: var(--secondary-color);
  width: 250px;
  height: 70px;
  color: white;
  display: grid;
  place-items: center;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 30px;
  box-shadow: 4px 4px 0px var(--main-color), 8px 8px 0px var(--thrd-color);
}
.contact .container .infos .link a:hover{
  box-shadow: none;
}
/* end contact design */
/* start footer design */
footer {
  width: 100%;
  margin-top: 40px;
  height: 100px;
  background-color: var(--main-color);
}
footer .container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .container .image {
  height: 70px;
}
footer .container .image img {
  width: 130px;
}
footer .container p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  word-spacing: 5px;
  font-weight: 300;
  margin-bottom: 3%;
}
/* end footer design */
